<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div style="background-color: rgba(0, 0, 0, 0.5); border: 1px solid green; display: inline-block"><h1>Responsible Machine Learning in Healthcare</h1></div>
            <hr>
            <p><span style="background-color: rgba(0, 0, 0, 0.5)"> An interdisciplinary, invited workshop in Copenhagen, Oct 27<sup>th</sup> and 28<sup>th</sup>, 2022. </span></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
