<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div style="background-color: rgba(0, 0, 0, 0.5); display: inline-block; border-radius: 15px; padding: 5px 5px 5px 5px"><h1>Responsible Machine Learning in Healthcare</h1></div>
            <hr>
            <div style="background-color: rgba(0, 0, 0, 0.5); display: inline-block; border-radius: 15px; padding: 5px 5px 5px 5px">An interdisciplinary, invited workshop in Copenhagen, Oct 27<sup>th</sup> and 28<sup>th</sup>, 2022.</div>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
