<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Aims and Scope</h2>
                <hr class="light">
                <p>Our aim with this invited workshop is to bring together a diverse and interdisciplinary group of internationally renowned scientists along with junior participants. In lively and critical discussions across disciplinary boundaries, we aim to make substantial progress towards <b>medical machine learning systems that are trustworthy, equitable,<br>and beneficial for society at large</b>.</p>
                <p>While the workshop is primarily a physical event, a live-stream of the lectures will be made available for free. Details will be shared shortly.</p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Workshop schedule</h2>
                <hr class="primary">
                <p>The workshop will take place in <a href="https://goo.gl/maps/yZm6NqCf2dKMZTuFA">Festsalen, Øster Voldgade 10</a>.
                <br><br>
                <h3>Program - Thursday, Oct 27th</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col", class="text-center">Time (CET)</th>
                            <th scope="col", class="text-center">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>8:30-9:00</td><td>Arrival, coffee</td></tr>
                        <tr><td>9:00-9:10</td><td>Welcome</td></tr>
                        <tr><td>9:10-10:40</td><td><a href="https://eferrante.github.io/">Enzo Ferrante</a> (Universidad Nacional del Litoral, Argentina)<br><i>Fairness of Machine Learning in Medical Image Analysis</i><br><br><a href="https://scholar.google.com/citations?hl=en&user=Rp4--S4AAAAJ">Fernanda Ribeiro</a> (University of Queensland, Australia)<br><i>How fair is your graph? Exploring fairness concerns in neuroimaging studies</i></td></tr>
                        <tr><td>10:40-11:00</td><td>Coffee break</td></tr>
                        <tr><td>11:00-12:30</td><td><a href="https://www.dmu.ac.uk/about-dmu/academic-staff/technology/damian-okaibedi-eke/damian-okaibedi-eke.aspx">Damian O. Eke</a> (De Montfort University, United Kingdom)<br><i>Data, Power imbalances and AI in Healthcare</i><br><br><a href="https://campar.in.tum.de/Main/AhmadAhmadi">Seyed-Ahmad Ahmadi</a> (NVIDIA, Germany)<br><i>Towards robust AI in healthcare without jeopardizing patient privacy</i></td></tr>
                        <tr><td>12:30-14:00</td><td>Lunch</td></tr>
                        <tr><td>14:00-15:30</td><td><a href="https://sites.google.com/view/thomas-grote/startseite">Thomas Grothe</a> (University of Tübingen, Germany)<br><i>Microfoundations of Physician Behavior:<br>Machine Learning, Predictions, and the (Im)Possibility of Public Health Interventions</i><br><br><a href="https://suproteem.is/researching/">Suproteem Sarkar</a> (Harvard University, United States)<br><i>A Machine Learning Approach to Breast Cancer Screening</i></td></tr>
                        <tr><td>15:30-17:00</td><td>Poster session & Coffee</td></tr>
                        <tr><td>18:00-20:30</td><td>Social dinner</td></tr>
                    </tbody>
                </table> 
                <br>
                <h3>Program - Friday, Oct 28th</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col", class="text-center">Time (CET)</th>
                            <th scope="col", class="text-center">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>8:30-9:00</td><td>Arrival, coffee</td></tr>
                        <tr><td>9:00-10:30</td><td><a href="https://scholar.google.com/citations?user=EfsJbIcAAAAJ&hl=da">Claes Nøhr Ladefoged</a> (Rigshospitalet, Denmark)<br><i>Experience with using AI in clinical routine: Parkinson's disease and synthetic CT</i><br><br><a href="https://www.maastrichtuniversity.nl/laure.wynants">Laure Wynants</a> (Maastricht University, Netherlands)<br><i>Fact vs fiction: clinical risk prediction models to support<br>clinical decision-making in the covid-19 pandemic</i></td></tr>
                        <tr><td>10:30-11:00</td><td>Coffee break</td></tr>
                        <tr><td>11:00-12:30</td><td><a href="https://www.dkfz.de/en/imsy/team/people/Annika_Reinke.html">Annika Reinke</a> (German Cancer Research Center, Germany)<br><i>(Bench)mark: Pitfalls in AI Validation</i><br><br><a href="https://uclic.ucl.ac.uk/people/enrico-costanza">Enrico Costanza</a> (University College London, United Kingdom)<br><i>Human Interaction with ML and AI: User Evaluation Challenges</i></td></tr>
                        <tr><td>12:30-14:00</td><td>Lunch</td></tr>
                        <tr><td>14:00-15:30</td><td><a href="https://jura.ku.dk/cebil-dansk/?pure=da/persons/348884">Louise Druedahl</a> (University of Copenhagen, Denmark)<br><i>Responsible Machine Learning in Health: Regulatory and Legal Aspects</i><br><br><a href="https://personalpages.manchester.ac.uk/staff/david.wong/">David Wong</a> (University of Manchester, United Kingdom)<br><i>(What) can healthtech startups teach us about responsible ML?</i></td></tr>
                        <tr><td>15:30-16:00</td><td>Closing</td></tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</section>

<section id="organizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="primary">
                <p><a href="https://e-pet.github.io/">Eike Petersen</a></p>
                <p><a href="http://www2.compute.dtu.dk/~afhar/">Aasa Feragen</a></p>
                <p><a href="https://sites.google.com/view/melanieganz/home">Melanie Ganz</a></p>
                <p><a href="https://www.nielsvanberkel.com/">Niels van Berkel</a></p>
                <p><a href="https://research.ku.dk/search/result/?pure=en%2Fpersons%2F86988">Sune Hannibal Holm</a></p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>For any inquiries regarding the workshop, please contact <a href="https://e-pet.github.io/">Eike Petersen</a>.</p>
            </div>
        </div>
    </div>
</section>


<section id="funding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Funding</h2>
                <hr class="primary">
                <p>The workshop is generously funded by the <a href="https://ddsa.dk/">Danish Data Science Academy (DDSA)</a>, the <a href="https://dff.dk/en/front-page?set_language=en">Independent Research Fund Denmark (DFF)</a>, and the <a href="https://www.aicentre.dk/">Pioneer Centre for AI</a>.</p>
                <br><br>
                <p><a href="https://ddsa.dk/"><img src="img/ddsa-pink.jpg" height="80"></a><a href="https://dff.dk/en/front-page?set_language=en"><img src="img/dff-logo.png" height="80" style="margin-left: 2.5em"></a><a href="https://www.aicentre.dk/"><img src="img/PCAI_Horizontal_2Lines_Rgb.png" height="70" style="margin-left: 2.5em"></a></p>
            </div>
        </div>
    </div>
</section>

<section id="conduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Code of conduct</h2>
                <hr class="primary">
                <p>We adopt the <a href="https://ddsa.dk/codeofconductforevents/">DDSA Code of Conduct for Events</a>; please follow the link for details. In particular, please take note of the following section, reproduced verbatim from the code of conduct:</p>
                <p>Organisers as well as any participant in DDSA activities may contact [the DDSA] about experiences or observations of inappropriate behavior, regardless of whether they wish to place a formal complaint or merely express a concern or seek advice.
                Please contact the DDSA Named Person, Education & Grant Manager Sniff Andersen Nexø, by calling +45 31 90 35 39, or by sending an email to sniff@ddsa.dk requesting to be contacted.
                <ul>
                    <li>The Named Person will support the person reporting an offensive behavior in deciding if and how to proceed</li>
                    <li>The Named Person has no formal authority but will support the person reporting an offensive behavior in informing the relevant authority if agreed upon</li>
                    <li>The Named Person is not obliged to inform any other authority and is thus able to handle any complaint or concern in full confidentiality</li>
                    <li>Professional consultancy will be included if deemed necessary</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
