<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Aims and Scope</h2>
                <hr class="light">
                <p>Our aim with this invited workshop is to bring together a diverse and interdisciplinary group of internationally renowned scientists along with junior participants. In lively and critical discussions across disciplinary boundaries, we aim to make substantial progress towards <b>medical machine learning systems that are trustworthy, equitable, and beneficial for society at large</b>.</p>
                <p>While the workshop is primarily a physical event, a live-stream of the lectures will be made available for free. Details will be shared shortly.</p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Workshop schedule</h2>
                <hr class="primary">
                <p>The workshop will take place in <a href="https://goo.gl/maps/yZm6NqCf2dKMZTuFA">Festsalen, Øster Voldgade 10</a>.
                    
                <h4>Thursday, Oct 27th</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col", class="text-center">Time (CET)</th>
                            <th scope="col", class="text-center">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>8:30-9:00</td><td>Arrival, coffee</td></tr>
                        <tr><td>9:00-9:15</td><td>Welcome</td></tr>
                        <tr><td>9:15-10:45</td><td>Talks 1 and 2</td></tr>
                        <tr><td>10:45-11:15</td><td>Coffee break</td></tr>
                        <tr><td>11:15-12:45</td><td>Talks 3 and 4</td></tr>
                        <tr><td>12:45-14:00</td><td>Lunch</td></tr>
                        <tr><td>14:00-15:30</td><td>Talks 5 and 6</td></tr>
                        <tr><td>15:30-17:00</td><td>Poster session & Coffee</td></tr>
                        <tr><td>18:00-20:30</td><td>Social dinner</td></tr>
                    </tbody>
                </table> 
                    
                <h4>Friday, Oct 28th</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col", class="text-center">Time (CET)</th>
                            <th scope="col", class="text-center">Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>8:30-9:00</td><td>Arrival, coffee</td></tr>
                        <tr><td>9:00-10:30</td><td>Talks 7 and 8</td></tr>
                        <tr><td>10:30-11:00</td><td>Coffee break</td></tr>
                        <tr><td>11:00-12:30</td><td>Talks 9 and 10</td></tr>
                        <tr><td>12:30-14:00</td><td>Lunch</td></tr>
                        <tr><td>14:00-15:30</td><td>Talks 11 and 12</td></tr>
                        <tr><td>15:30-16:00</td><td>Closing</td></tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</section>

<section id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Confirmed speakers</h2>
                <hr class="primary">
                <p><a href="https://uclic.ucl.ac.uk/people/enrico-costanza">Enrico Costanza</a> (University College London, United Kingdom)<br><i>Human Interaction with ML and AI: User Evaluation Challenges</i></p>
                <p><a href="https://jura.ku.dk/cebil-dansk/?pure=da/persons/348884">Louise Druedahl</a> (University of Copenhagen, Denmark)<br><i>Responsible Machine Learning in Health: Regulatory and Legal Aspects</i></p>
                <p><a href="https://www.dmu.ac.uk/about-dmu/academic-staff/technology/damian-okaibedi-eke/damian-okaibedi-eke.aspx">Damian O. Eke</a> (De Montfort University, United Kingdom)<br><i>Talk title TBA</i></p>
                <p><a href="https://eferrante.github.io/">Enzo Ferrante</a> (Universidad Nacional del Litoral, Argentina)<br><i>Fairness of Machine Learning in Medical Image Analysis</i></p>
                <p><a href="https://sites.google.com/view/thomas-grote/startseite">Thomas Grothe</a> (University of Tübingen, Germany)<br><i>Microfoundations of Physician Behavior: Machine Learning, Predictions, and the (Im)Possibility of Public Health Interventions</i></p>
                <p><a href="https://scholar.google.com/citations?user=EfsJbIcAAAAJ&hl=da">Claes Nøhr Ladefoged</a> (Rigshospitalet, Denmark)<br><i>Experience with using AI in clinical routine: Parkinson's disease and synthetic CT</i></p>
                <p><a href="https://www.dkfz.de/en/imsy/team/people/Annika_Reinke.html">Annika Reinke</a> (German Cancer Research Center, Germany)<br><i>(Bench)mark: Pitfalls in AI Validation</i></p>
                <p><a href="https://scholar.google.com/citations?hl=en&user=Rp4--S4AAAAJ">Fernanda Ribeiro</a> (University of Queensland, Australia)<br><i>How fair is your graph? Exploring fairness concerns in neuroimaging studies</i></p>
                <p><a href="https://suproteem.is/researching/">Suproteem Sarkar</a> (Harvard University, United States)<br><i>A Machine Learning Approach to Breast Cancer Screening</i></p>
                <p><a href="https://personalpages.manchester.ac.uk/staff/david.wong/">David Wong</a> (University of Manchester, United Kingdom)<br><i>(What) can healthtech startups teach us about responsible ML?</i></p>
                <p><a href="https://www.maastrichtuniversity.nl/laure.wynants">Laure Wynants</a> (Maastricht University, Netherlands)<br><i>Fact vs fiction: clinical risk prediction models to support clinical decision-making in the covid-19 pandemic</i></p>
                <p>Final speaker TBA soon.</p>
            </div>
        </div>
    </div>
</section>

<section id="organizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="primary">
                <p><a href="https://e-pet.github.io/">Eike Petersen</a></p>
                <p><a href="http://www2.compute.dtu.dk/~afhar/">Aasa Feragen</a></p>
                <p><a href="https://sites.google.com/view/melanieganz/home">Melanie Ganz</a></p>
                <p><a href="https://www.nielsvanberkel.com/">Niels van Berkel</a></p>
                <p><a href="https://research.ku.dk/search/result/?pure=en%2Fpersons%2F86988">Sune Hannibal Holm</a></p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>For any inquiries regarding the workshop, please contact <a href="https://e-pet.github.io/">Eike Petersen</a>.</p>
            </div>
        </div>
    </div>
</section>


<section id="funding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Funding</h2>
                <hr class="primary">
                <p>The workshop is generously funded by the <a href="https://ddsa.dk/">Danish Data Science Academy (DDSA)</a>, the <a href="https://dff.dk/en/front-page?set_language=en">Independent Research Fund Denmark (DFF)</a>, and the <a href="https://www.aicentre.dk/">Pioneer Centre for AI</a>.</p>
            </div>
        </div>
    </div>
</section>

<section id="conduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Code of conduct</h2>
                <hr class="primary">
                <p>We adopt the <a href="https://ddsa.dk/codeofconductforevents/">DDSA Code of Conduct for Events</a>; please follow the link for details.</p>
            </div>
        </div>
    </div>
</section>
