<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Aims and Scope</h2>
                <hr class="light">
                <p>Our aim with this invited workshop is to bring together a diverse and interdisciplinary group of internationally renowned scientists along with junior participants that they nominate. In lively and critical discussions across disciplinary boundaries, we aim to make substantial progress towards <b>medical machine learning systems that are trustworthy, equitable, and beneficial for society at large</b>. To enable close interaction and intense discussions, the invited group of attendees will be small and carefully selected.</p>
                <p>A live-stream of the lectures will be made available for free. Details will be shared shortly.</p>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Workshop schedule</h2>
                <hr class="primary">
                <p>Schedule TBA.</p>
                <hr class="primary">
                <h4>Confirmed speakers</h4>
                <br>
                <p><b>Enrico Costanza</b> (University College London, UK)</p>
                <p><b>Louise Druedahl</b> (University of Copenhagen, DK)</p>
                <p><b>Damian O. Eke</b> (De Montfort University, UK)</p>
                <p><b>Enzo Ferrante</b> (Universidad Nacional del Litoral, AR)</p>
                <p><b>Thomas Grothe</b> (University of Tübingen, DE)</p>
                <p><b>Annika Reinke</b> (German Cancer Research Center, DE)</p>
                <p><b>Suproteem Sarkar</b> (Harvard University, US)</p>
                <p><b>David Wong</b> (University of Manchester, UK)</p>
                <p><b>Laure Wynants</b> (Maastricht University, NL)</p>
            </div>
        </div>
    </div>
</section>

<section id="organizers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="primary">
                <p><a href="https://e-pet.github.io/">Eike Petersen</a></p>
                <p><a href="http://www2.compute.dtu.dk/~afhar/">Aasa Feragen</a></p>
                <p><a href="https://sites.google.com/view/melanieganz/home">Melanie Ganz</a></p>
                <p><a href="https://www.nielsvanberkel.com/">Niels van Berkel</a></p>
                <p><a href="https://research.ku.dk/search/result/?pure=en%2Fpersons%2F86988">Sune Hannibal Holm</a></p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>For any inquiries regarding the workshop, please contact <a href="https://e-pet.github.io/">Eike Petersen</a>.</p>
            </div>
        </div>
    </div>
</section>


<section id="funding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Funding</h2>
                <hr class="primary">
                <p>The workshop is generously funded by the <a href="https://ddsa.dk/">Danish Data Science Academy (DDSA)</a>, the <a href="https://dff.dk/en/front-page?set_language=en">Independent Research Fund Denmark (DFF)</a>, and the <a href="https://www.aicentre.dk/">Pioneer Centre for AI</a>.</p>
            </div>
        </div>
    </div>
</section>
